.section .circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  animation: movement 10s ease infinite;
  -webkit-animation: movement 10s ease infinite;
}

.section .circle.circle1 {
  width: 400px;
  height: 400px;
  top: 100px;
  right: 200px;
  animation-direction: reverse;
}

.section .circle.circle2 {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 45%;
}

.section .circle.circle3 {
  width: 300px;
  height: 300px;
  top: 100px;
  left: 40%;
  animation-duration: 15s;
}

@keyframes movement {
  0%, 100% { transform: translate(0, 0); }
  20% { transform: translate(50px , 20px); }
  40% { transform: translate(20px , 20px); }
  60% { transform: translate(37px , 50px); }
  80% { transform: translate(30px , 40px); }
}

.iphone {
  height: 300px;
  margin: 20px;
  margin-bottom: 100px;
  animation: rotation 5s ease infinite;
  -webkit-animation: rotation 5s ease infinite;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

.blower {
  z-index: 5;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 120px;
  left: 480px;
  background: url('/ballon.png') no-repeat center center;
  background-size: contain;
  transition: .5s ease;
  transform: rotate(-20deg);
  animation: popup 1s ease;
  -webkit-animation: popup 1s ease;
}

@keyframes popup {
  from {transform: scale(0%);}
  to {transform: scale(100%);}
}

.blower:active {
  transform: scale(80%);
}

.blow-text {
  animation: anim1 1s linear infinite;
  -webkit-animation: anim1 1s linear infinite;
}

@keyframes anim1 {
  0%, 100% {transform: rotate(0deg);}
  50% {transform: rotate(10deg);}
}

.wind {
  position: absolute;
  top: 180px;
  left: 520px;
  width: 110px;
  height: 110px;
  background: url('/wind.png') no-repeat center center;
  background-size: contain;
  transition: .5s ease;
  transform: rotate(-120deg) translate(0,0);
  animation: windMove 1s ease;
  -webkit-animation: windMove 1s ease;
}

@keyframes windMove {
  to { transform: rotate(-120deg) translate(-70px, 0px); opacity: 0; }
}