.iphone {
  height: 500px;
  animation: rotation 5s ease infinite;
  -webkit-animation: rotation 5s ease infinite;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}