.cake {
  background-image: linear-gradient(270deg, #eae46f, #af4261);
}

.happybirthday {
  font-family: "Playwrite NL";
  background-image: linear-gradient(45deg, #000000, #053b00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: .5s linear;
}

.name {
  font-family: "Great Vibes";
  color: #fff;
}

.blow-text {
  animation: anim1 1s linear infinite;
  -webkit-animation: anim1 1s linear infinite;
}

@keyframes anim1 {
  0%, 100% {transform: rotate(0deg);}
  50% {transform: rotate(10deg);}
}

.blower {
  z-index: 5;
  position: absolute;
  top: 120px;
  left: 190px;
  width: 110px;
  height: 110px;
  background: url('/ballon.png') no-repeat center center;
  background-size: contain;
  transition: .5s ease;
  transform: rotate(-20deg);
  animation: popup .3s ease;
  -webkit-animation: popup 1s ease;
}

@keyframes popup {
  from {transform: scale(10%);}
  to {transform: scale(100%);}
}

.blower:active {
  transform: scale(80%);
}

.wind {
  position: absolute;
  top: 180px;
  left: 230px;
  width: 110px;
  height: 110px;
  background: url('/wind.png') no-repeat center center;
  background-size: contain;
  transition: .5s ease;
  transform: rotate(-120deg) translate(0,0);
  animation: windMove 1s ease;
  -webkit-animation: windMove 1s ease;
}

@keyframes windMove {
  to { transform: rotate(-120deg) translate(-70px, 0px); opacity: 0; }
}
